@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto:300&display=swap');

.navLink {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 12pt;
  margin: 0px 50px 0px 50px;
  cursor: pointer;
  white-space: nowrap;
}

.navLink-Parent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 2vw;
}


.header-Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  top: 0;
  background-color: white;
}

.mitchHartigan-Header-Text {
  font-family: 'Lato';
  font-size: 14pt;
  margin-top: 20px;
  padding-left: 2vw;
}

.greeting-Hero-Text {
  font-family: 'Lato';
  font-size: 50pt;
  text-align: center;
  margin-bottom: 0vh;
}

.greeting-Sub-Text {
  font-family: 'Roboto';
  font-size: 18pt;
  text-align: center;
  font-weight: 300;
  margin-top: 2vh;
}

.greeting-Container {
  width: 100%;
  padding-top: 25vh;
}

.page-Div {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.checkMeOut-Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40vh;
}

.checkMeOut-Text {
  font-family: 'Roboto';
  font-size: 14pt;
  font-weight: 300;
  margin-bottom: 0px;
}

.technologies-Header-Text {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 25pt;
  text-align: center;
  color: white;
}

.technologies-Text-Container {
  width: 100%
}

.technologies-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.services-Container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 50%;
}

.services-Container-Parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.technology-Img-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4vh 4vh 4vh 4vh;
}

.technology-Text {
  font-family: 'Roboto';
  font-size: 12pt;
  text-align: center;
  width: 100%;
  color: white;
}

.black-Background {
  background-color: black;
}

.myWork-Header-Text {
  font-family: 'Lato';
  font-size: 30pt;
  text-align: center;
  padding-top: 3vh;
}

.display-Button-Live {
  padding: 10px 20px 10px 20px;
  margin: 20px 20px 0px 0px;
  border: 1px solid black;
  background-color: black;
  font-family: 'Roboto';
  outline: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.display-Button-Github {
  padding: 10px 38px 10px 38px;
  margin: 20px 0px 0px 20px;
  background-color: transparent;
  border: 1px solid black;
  font-family: 'Roboto';
  font-weight: 400;
  outline: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.project-Title-SubText {
  font-family: 'Lato';
  font-size: 14pt;
  font-weight: 300;
  margin-bottom: 10px;
}

.title-Text {
  font-family: 'Lato';
  font-size: 14pt;
  font-weight: 300;
}

.project-Display-Container {
  display: flex;
  flex-direction: column;
   justify-content: center;
}

.display-Buttons-Container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bulletPoint-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-Container-Parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-Description-Container {
  margin-left: 5vw;
  margin-top: 0vh;
}

.project-Content-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.description-Text-Container {
  max-width: 20vw;
}

.project-Description-Text {
  font-family: 'Roboto';
  font-size: 12pt;
  font-weight: 300;
  margin-top: 0px;
}

.project-Title-Text {
  font-family: 'Lato';
  font-size: 20pt;
  font-weight: 300;
  text-align: left;
  margin-bottom: 3vh;
}

ul {
  padding-left: 20px;
  list-style-type: circle;
  margin-top: 0px;
}

h4 {
  margin-bottom: 0px;
}